---
import projects from "../../collections/projects.json";
import Card from "./Card.astro";
---

<div class="grid place-items-center bg-base-200">
    <div class="hero bg-base-200 py-20 md:w-4/5">
        <div class="hero-content">
            <div class="w-100">
                <h1 class="mb-10 text-4xl font-extrabold text-gray-900 animate-fade-in-down md:text-6xl">
                    <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700">MIS PROYECTOS</span>
                </h1>
                <p class="py-6 mb-5 text-justify">
                    Aquí encontrarás una selección de los proyectos que he
                    desarrollado a lo largo de mi carrera. Cada proyecto es una
                    muestra de mi pasión por el desarrollo web y mi habilidad
                    para crear soluciones innovadoras. A través de mi trabajo,
                    busco combinar la estética con la funcionalidad para ofrecer
                    experiencias digitales excepcionales a los usuarios. Si
                    estás buscando un desarrollador web para tu próximo
                    proyecto, no dudes en contactarme.
                </p>
                <div class="grid md:grid-cols-4 gap-4">
                    {
                        projects.map((p) => {
                            return (
                                <div class="mb-5">
                                    <Card id={p.id} />
                                </div>
                            );
                        })
                    }
                </div>
                <p class="mt-5 grid place-items-end">
                    <a href="/projects">
                        <button class="btn btn-primary"
                            ><i class="fa-solid fa-caret-down"></i>Más
                            información</button
                        >
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
