---
import technologies from "../../collections/technologies.json";
import Card from "../technologies/Card.astro";

interface Props {
    id: number;
}
const { id } = Astro.props;
---

<div class="grid place-items-center bg-base-200">
    <div class="hero bg-base-200 pb-20 md:w-4/5">
        <div class="hero-content">
            <div class="w-100">
                <h1 class="text-5xl font-bold mb-5">STACK TECNOLÓGICO</h1>
                <p class="py-6 mb-10">
                    Soy un desarrollador web con pasión por crear experiencias
                    digitales innovadoras. A lo largo de mi carrera, he
                    adquirido un sólido conocimiento en una variedad de
                    tecnologías. Mi experiencia me permite abordar proyectos de
                    diversa complejidad, desde el desarrollo frontend hasta el
                    backend, siempre buscando soluciones eficientes y
                    escalables.
                </p>
                <div
                    class="grid grid-cols-2 md:grid-cols-4 gap-x-4 gap-y-1 md:gap-y-3"
                >
                    {
                        technologies.map((t, index) => {
                            return (
                                <>
                                    {id == 1 && (
                                        <div>
                                            {index <= 7 && <Card id={t.id} />}
                                        </div>
                                    )}
                                    {id == 2 && (
                                        <div>
                                            <Card id={t.id} />
                                        </div>
                                    )}
                                </>
                            );
                        })
                    }
                </div>
                {
                    id == 1 && (
                        <p class="grid place-items-end">
                            <a href="/about#tecnologies">
                                <button class="btn btn-primary">
                                    <i class="fa-solid fa-caret-down" />
                                    Ver todo el stak
                                </button>
                            </a>
                        </p>
                    )
                }
            </div>
        </div>
    </div>
</div>
