---
import technologies from "../../collections/technologies.json";
import Card from "../technologies/Card.astro";

var total = technologies.length;
---

<div class="grid place-items-center bg-base-200">
    <div class="hero bg-base-200 py-20 md:w-4/5">
        <div class="hero-content">
            <div class="w-100">
                <h1 class="text-5xl font-bold mb-5">STACK TECNOLÓGICO</h1>
                <p class="py-6 mb-5">
                    Soy un desarrollador web con pasión por crear experiencias
                    digitales innovadoras. A lo largo de mi carrera, he
                    adquirido un sólido conocimiento en una variedad de
                    tecnologías. Mi experiencia me permite abordar proyectos de
                    diversa complejidad, desde el desarrollo frontend hasta el
                    backend, siempre buscando soluciones eficientes y
                    escalables.
                </p>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                    {
                        technologies.map((t, index) => {
                            return (
                                <div class="mb-5">
                                    <Card id={t.id} />
                                </div>
                            );
                        })
                    }
                </div>
                <p class="mt-5 grid place-items-end">
                    <button class="btn btn-primary">Get Started</button>
                </p>
            </div>
        </div>
    </div>
</div>
