---
import education from "../../collections/education.json";

interface Props {
    id: number;
}
const { id } = Astro.props;
const data = education.find((item) => item.id === id);
---
<div
    tabindex="0"
    class="collapse collapse-arrow border-base-300 bg-base-200 border"
>
    <div class="collapse-title text-xl font-medium">
        {data.name}
    </div>
    <div class="collapse-content">
        <p>{data.description}</p>
    </div>
</div>
