---
interface Props {
    id: number;
}
const { id } = Astro.props;
const BASE = "";
---

<div class="grid place-items-center bg-base-200">
    <div class="hero bg-base-200 py-20 md:w-4/5">
        <div class="hero-content">
            <div>
                <h1 class="mb-10 text-4xl font-extrabold text-gray-900 animate-fade-in-down md:text-6xl">
                    <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700">MI SITIO WEB</span>
                </h1>
                <p class="py-6 text-justify">
                    Hola, mi nombre es Erick. Soy un desarrollador especializado
                    principalmente en frontend, aunque también tengo
                    conocimientos de backend. Actualmente, estoy en proceso de
                    titulación en la carrera de Ingeniería en Computación. <br>
                    Mi pasión por el desarrollo web surgió de mi curiosidad por
                    las tecnologías modernas, que juegan un papel fundamental en
                    el mundo web y evolucionan constantemente. Esta curiosidad
                    alimenta mi interés por seguir aprendiendo y profundizando
                    en los temas relacionados con el desarrollo web.
                </p>
                <p class="pb-10 text-justify">
                    Te invito a visitar mi sitio web, donde podrás conocer más sobre mi trayectoria en este fascinante mundo digital.
                </p>
                {id == 1 && (
                    <a href=`${BASE}/about`>
                        <button class="btn btn-primary"><i class="fa-solid fa-caret-down"></i>Más información</button>
                    </a>
                )}
            </div>
            <img src=`${BASE}/assets/img/me/me.png`
                class="hidden md:block p-0 md:max-h-96 rounded-lg"
                alt="Me"
                title="Me"
            />
        </div>
    </div>
</div>
